---
import { Debug } from 'astro/components';

import { Image } from '@astrojs/image/components';
import TagList from "@components/TagList.astro";
import ProductCard from '@components/ProductCard.astro'; // Imported for styling

const { data } = Astro.props;
const { name, price, description, image, tagImageSize, color, category, care, slug: url } = data.frontmatter;
const tags = [...color, ...category, ...care]
---
<!-- <Debug answer={data} /> -->

<div class="col-12 col-lg-7 col-xxl-8 flex-grow-1">
	<div class="row">
		<div class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-start flex-grow-1 position-relative">
			<Image class="d-block mx-auto" src={image} width={postImageSize[0]} height={postImageSize[1]} fit="fill" position="center" formats="webp" alt="" />
			<div class="price-wrapper">
				<div class="price-wrapper--bar"></div>
				<h6 class="price-wrapper--price py-3 m-0">${price}</h6>
			</div>
			<a class="text-decoration-none stretched-link pb-3" href={'/products/' + url + '/'}>
				<h6 class="product-name m-0">{name}</h6>
			</a>
		<div class="">{tags && <TagList {tags} />}</div>
		</div>
	</div>
	<div class="row mb-5 pb-2 border-bottom">
		<div class="col-12">
			{tags && <TagList {tags} />}
		</div>
	</div>
</div>