---
import { Debug } from 'astro/components';

import { Image } from '@astrojs/image/components';
import TagList from "@components/TagList.astro";
import ProductCard from '@components/ProductCard.astro'; // Imported for styling

const { data } = Astro.props;
const { name, price, description, image, tagImageSize, color, category, care, slug: url } = data.frontmatter;
const tags = [...color, ...category, ...care]
---
<!-- <Debug answer={data} /> -->

<div class="col-5 d-flex flex-column align-items-center align-items-md-start position-relative mb-5 pb-2 border-bottom">
	<Image class="d-block w-100" src={image} width={tagImageSize[0]} height={tagImageSize[1]} fit="fill" position="center" formats="webp" alt="" />
	<div class="price-wrapper mt-3">
		<div class="price-wrapper--bar"></div>
		<h6 class="price-wrapper--price py-3 m-0">${price}</h6>
	</div>
	<a class="text-decoration-none stretched-link pb-3" href={'/products/' + url + '/'}>
		<h6 class="product-name m-0">{name}</h6>
	</a>
	<div class="">{tags && <TagList {tags} />}</div>
</div>