---
// Product pages

import { Debug } from 'astro/components';

import MainLayout from '@layouts/MainLayout.astro';
import ShopSidebar from '@components/ShopSidebar.astro';
import ProductCard from '@components/ProductCard.astro'; // Imported for styling
import SidebarButton from '@components/ToggleSidebarButton.astro';
import { Image } from 'astro:assets'
import Paginator from '@components/Paginator.astro';
import TagList from '@components/TagList.astro';


export async function getStaticPaths({ paginate }) {
	let allProducts = await Astro.glob(`/src/data/posts/products/*.md`);
	
	let sortedProducts = allProducts.sort((a, b) => new Date(a.frontmatter.id).valueOf() - new Date(b.frontmatter.id).valueOf())
	.map(product => ({
    params: { slug: product.frontmatter.slug }, 
		props: { product: product.frontmatter }
  }));
  return paginate(sortedProducts, { pageSize: 6});
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const { data } = page;

---

<MainLayout>
	<ShopSidebar />
	<div class="col-12 col-lg-7 col-xxl-8 flex-grow-1">
		<div class="row">
			<SidebarButton />
			<!-- 
				<div>{tags && <TagList {tags} />}</div> 						
			-->
				{data.map(( {props: {product}} ) => 
					<div class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-start flex-grow-1 mb-5 position-relative">
						<Image class="main-product-image mb-4" loading="eager"src={product.image} width={product.shopImageSize[0]} height={product.shopImageSize[1]} quality="max" alt={'Potted ' + product.name} /> 
						<div class="product-info-wrapper">
							<a class="text-decoration-none stretched-link" href={'/products/' + product.slug + '/'}>
								<h6 class="product-name m-0">{product.name}</h6>
								<div class="price-wrapper--bar"></div>
							</a>
							<div class="price-wrapper">
								<h6 class="price-wrapper--price py-3 m-0">${product.price}</h6>
							</div>
						</div>
						<div>
							{( product.category || product.color || product.care ) && 
								<TagList tags={[...product.color,...product.care, ...product.category]} />}
						</div>
					</div>
				)}
		</div>
		<Paginator page={page}/>
	</div>
</MainLayout>

<style>
.product-info-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
</style>