---
import { Image } from '@astrojs/image/components';
import ProductCard from '@components/ProductCard.astro'; // Importing for styles
import SidebarButton from '@components/ToggleSidebarButton.astro';

const allProducts = await Astro.glob('/src/data/posts/products/*.md'); // Unsorted products
const sortedProducts = allProducts.sort((a, b) => new Date(a.frontmatter.id).valueOf() - new Date(b.frontmatter.id).valueOf());
---

<style>
	.main-product-image { width: 100%; }

	.product-name {
		outline: 0 solid transparent;
    color: #131212;
    font-weight: 400;
    font-size: 1.5rem;
		font-weight: 500;
	}
</style>

<div class="col-12 col-lg-7 col-xxl-8 flex-grow-1">
	<div class="row border-bottom pb-3">
		<div class="col-12">
			<SidebarButton />
		</div>
	</div>
	<div class="row pt-3">
		{sortedProducts.map(product => 
			<div id={product.frontmatter.id} class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-start flex-grow-1 mb-5 position-relative">
				<Image class="main-product-image mb-4" src={product.frontmatter.image} width={product.frontmatter.shopImageSize[0]} height={product.frontmatter.shopImageSize[1]} fit="fill" position="center" formats="webp" alt="" />
				<div class="price-wrapper">
					<div class="price-wrapper--bar"></div>
					<h6 class="price-wrapper--price py-3 m-0">${product.frontmatter.price}</h6>
				</div>
				<a class="text-decoration-none stretched-link" href={'/products/' + product.frontmatter.slug + '/'}>
					<h6 class="product-name m-0">{product.frontmatter.name}</h6>
				</a>
			</div>
			)}
	</div>
</div>